<div class="container text-center">
    <%= form_for (@task) do |f| %>
      <%= render 'layouts/error_messages'%>
        <div class="form-row">
            <div class="col-6">
                <%= f.label :タイトル %>
                <%= f.text_field :title ,class: "form-control", placeholder: "タイトル入力は必須項目です。"%>
            </div>
            <div class="col-6">
                <%= f.label :内容 %>
                <%= f.text_field :text ,class: "form-control"%>
            </div>
            <div class="col-2">
                <%= f.label :期限 %>
                <%= f.text_field :deadline ,class: "form-control"%>
            </div>
            <div class="col-2">
                <%= f.label :進捗 %>
                <%= f.select :status, Task.statuses.keys.map {|k| [Task.statuses_i18n[k],k]}, {}, {class: "form-control"} %>
            </div>
            <div class="col-2">
                <%= f.label :優先度 %>
                <%= f.select :priority, Task.priorities.keys.map {|k| [Task.priorities_i18n[k],k]},{}, {class: "form-control"} %><br>
            </div>
        </div>
          <%= f.submit "更新" ,class: "btn btn-primary"%>
    <% end %>
</div>
